%footer
  .row.text-right
    .small-twelve.columns
      -if user_signed_in?
        %p= link_to "Sign out", destroy_user_session_path, :method => :delete
      -else
        %p= link_to "Log in", new_user_session_path
