%div.circle.text-center=image_tag "gezandsarah.jpg"
%h1= "Cry Counter: #{Comment.count}"

=link_to 'New Comment', new_comment_path, :class => :button if user_signed_in?

=render @comments

=paginate @comments